target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/discord.xml
.idea/aws.xml
.idea/misc.xml
.idea/workspace.xml
*.iws
*.iml
*.ipr
.bin/
client.json
server.json
.logs/
